<p>formulaire works!</p>
<div>
	<input type='text' [(ngModel)]=result>
</div>
<div>
	<button (click)="direBonjour()">Cliquer</button>
</div>
<div>
	Bonjour {{result}} !!
</div>

<form #monForm=ngForm (ngSubmit)=ajouterPersonne()>
	<div>
		Nom : <input type=text name=nom [(ngModel)]=personne.nom required #nom='ngModel'> 
	</div>
	<div [hidden]="nom.valid || nom.pristine">
		Le nom est obligatoire
	</div>
	<div>
		Prenom : <input type=text name=prenom [(ngModel)]=personne.prenom required #prenom='ngModel'>
	</div>
	<div [hidden]="prenom.valid || prenom.pristine">
		Le prenom est obligatoire
	</div>
	<div>
		<button [disabled]=!monForm.valid>Ajouter</button>
	</div>

</form>
<div>
	<ul *ngFor="let personne of personnes.reverse()">
		<li>{{personne.nom}} {{personne.prenom}}</li>
	</ul>
</div>