<p>Formulaire works!</p>
<!-- <div>
  <label for="nom">Veuillez saisir votre nom</label>
  <input type="text" name="nom" [(ngModel)]=nom >
</div>
<div>
  <button (click)='direBonjour()'>Valider</button>
</div>
<div>{{ nom }}</div> -->
<!-- <div>{{ resul t}}</div> -->

<form #monForm=ngForm (ngSubmit)=ajouterPersonnes()>
    <div>
        <div class="form-group">
            <label for="nom">Nom :</label>
            <div><input type="text" name="nom" [(ngModel)]="personne.nom" required #nom="ngModel" /></div>
            <div [hidden]="nom.valid || nom.pristine">Le nom est obligatoire</div>
        </div>
        <div class="form-group">
            <div><label for="prenom">Prénom :</label></div>
            <div><input type="text" name="prenom" [(ngModel)]="personne.prenom" required #prenom="ngModel" /></div>
            <div [hidden]="prenom.valid || prenom.pristine">Le prenom est obligatoire</div>
        </div>
        <div>
            <button [disabled]="!monForm.valid">
                Ajouter
            </button>
        </div>
    </div>
</form>
<hr>
<div>Résultats</div>
<div>
    <ul>
        <li *ngFor="let personne of personnes.reverse();">
            Nom : {{ personne.nom}} / Prenom : {{personne.prenom}}
        </li>
    </ul>
</div>






